.app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url("../images/main.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 100;
}
.body {
	flex: 1;
}
